{% load static %}

<!--
Author:W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Fake STADIA</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Men spa Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- //Meta tag Keywords -->
       <!-- Custom-Files -->
       <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
       <!-- Bootstrap-Core-CSS -->
       <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
       <!-- Style-CSS -->
       <!-- font-awesome-icons -->
       <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
   <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
   <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
<!-- header -->
<header>
	<div class="container">
		<div class="header d-lg-flex justify-content-between align-items-center">
			<div class="header-agile">
				<h1>
					<a class="navbar-brand logo" href="/">
						<span class="fa fa-scissors" aria-hidden="true" ></span> Fake STADIA <span class="fa fa-user-secret" aria-hidden="true" ></span>
					</a>
				</h1>
			</div>
			<div class="nav_w3ls">
				<nav>
					<label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
					<input type="checkbox" id="drop" />
                    <ul class="menu">
                            {% if user.is_active %}
                            <li class="mr-lg-3 mr-2"><a>{{user.username}}</a></li>
                            <li class="mr-lg-3 mr-2"><a href="{% url 'logout' %}">logout</a></li>
                                          <li class="mr-lg-3 mr-2 p-0">
                                          <!-- First Tier Drop Down -->
                                          <label for="drop-2" class="toggle">GAMES <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                                          <a href="{% url 'game' %}">GAMES <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                          <input type="checkbox" id="drop-2"/>
                                          <ul class="inner-dropdown">
                                              <li><a href="{% url 'game_selected_1' %}">MineSweeper</a></li>
                                              <li><a href="{% url 'game_selected_2' %}">CandyCrush</a></li>
                                          </ul>
                            </li>
                            <li class="mr-lg-3 mr-2"><a href="{% url 'about' %}">About</a></li>

                            {% else %}
                            <li class="mr-lg-3 mr-2"><a href="{%url 'login' %}"> Login</a></li>
                            <li class="mr-lg-3 mr-2"><a href="{%url 'signup' %}">Sign Up</a></li>
                            <li class="mr-lg-3 mr-2"><a href="{% url 'about' %}">About</a></li>
                                          <li class="mr-lg-3 mr-2 p-0">
                            {% endif %}
                          </ul>
                              <!-- 템플릿 확장을 위한 템플릿 태그 - Block -->
                              {% block content %}
                              {% endblock %}
				</nav>
			</div>

		</div>
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="inner-page-banner" id="home">
</section>
<!-- //banner -->
<!-- page details -->
<div class="breadcrumb-agile">
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item">
			<a href="index.html">Home</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">About Us</li>
	</ol>
</div>
<!-- //page details -->
	<!--about-mid -->
    <section class="banner-bottom py-5" id="exp">
        <div class="container py-md-5">
	<h3 class="heading text-center mb-3 mb-sm-5">About Us</h3>

            <div class="row mid-grids mt-lg-5 mt-3">
                <div class="col-md-5 content-w3pvt-img">
                    <img src="{% static '/images/lee.PNG'%}" alt="" width=100% height="500px">
                </div>
                <div class="col-md-7 content-left-bottom entry-w3ls-info text-left mt-3">
                    <h5 class="mt-1"> CEO </h5>
                    <h4> 이민경 - Min Kyung Lee
                        <br> 201620634 </h4>

                    <p style="font-size : 1rem;" class="mt-2 text-left">  Ajou University Cyber Security <br> 뇌섹녀 그자체 <br> Femme Fatale  </p>

                </div>
            </div>

            <div class="row mid-grids mt-lg-5 mt-3 py-3">

                <div class="col-md-7 content-left-bottom entry-w3ls-info text-left mt-3">
                    <h5 class="mt-1">CTO</h5>
                    <h4> 우승민 - Seung Min Woo
                        <br> 201420917 </h4>
                    <p style="font-size : 1rem;" class="mt-2 text-left"> Ajou University Cyber Security <br> Son of KT and Young and Rich
                        <br> Homme Fatale </p>

                </div>
                <div class="col-md-5 content-w3pvt-img mt-lg-0 mt-3">
                    <img src="{% static '/images/Woo.jpg'%}"  alt="" width=100% height="500px">
                </div>
            </div>

            <div class="row mid-grids mt-lg-5 mt-3">
                <div class="col-md-5 content-w3pvt-img">
                    <img src="{% static '/images/lee .PNG'%}" alt="" width=100% height="500px">
                </div>
                <div class="col-md-7 content-left-bottom entry-w3ls-info text-left mt-3">
                    <h5 class="mt-1"> CISO </h5>
                    <h4> 이승환 - Seung Hwan Lee
                        <br> 201520891 </h4>

                    <p style="font-size : 1rem;" class="mt-2 text-left"><br> Ajou University Cyber Security <br> 상남자 그자체 <br> 2019 Balland </p>

                </div>


            </div>

            <div class="row mid-grids mt-lg-5 mt-3 py-3">

                <div class="col-md-7 content-left-bottom entry-w3ls-info text-left mt-3">
                    <h5 class="mt-1"> CPO </h5>
                    <h4>유영웅 - Young Woong You
                        <br>201720662</h4>
                    <p style="font-size : 1rem;" class="mt-2 text-left"> Ajou University Cyber Security <br> 대식가 그자체 <br> 2019 Vice President </p>

                </div>
                <div class="col-md-5 content-w3pvt-img mt-lg-0 mt-3">
                    <img src="{% static '/images/Hero2.PNG'%}" alt="" width=100% height="500px">
                </div>
            </div>

            <div class="row mid-grids mt-lg-5 mt-3">
                <div class="col-md-5 content-w3pvt-img">
                    <img src="{% static '/images/EUI.PNG'%}" alt="" width=100% height="500px">
                </div>
                <div class="col-md-7 content-left-bottom entry-w3ls-info text-left mt-3">
                    <h5 class="mt-1"> CFO </h5>
                    <h4> 김의진 - Eui jin Kim
                        <br> 201420890 </h4>

                    <p style="font-size : 1rem;" class="mt-2 text-left"> Ajou University Cyber Security <br> 꿀보이스 <br> Soul Vocal </p>

                </div>

            </div>
        </div>
    </section>
    <!-- //about-mid -->
<!-- states -->
  <section class="stats-count">
  <div class="overlay py-5">
    <div class="container py-md-5">
      <div class="row text-center">
        <div class="col-lg-3 col-md-3 col-sm-3 col-6 my-3 number-wthree-info ">
          <h5>700</h5>
          <h6 class="pt-2">Clients</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-6 my-3 number-wthree-info">
          <h5>250 +</h5>
          <h6 class="pt-2">Awards</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-6 my-3 number-wthree-info">
          <h5>150</h5>
          <h6 class="pt-2">styles</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-6 my-3 number-wthree-info">
          <h5>125</h5>
          <h6 class="pt-2">Men spas</h6>
        </div>
      </div>
    </div>
	</div>
  </section>
  <!--//states -->

 <!--//team -->
    <section class="banner-bottom  py-5">
        <div class="container py-md-5">
			<h3 class="heading text-center mb-3 mb-sm-5">Our Team</h3>
            <div class="row mt-lg-5 mt-4">
                <div class="col-md-4 team-gd text-center">
                    <div class="team-img mb-4">
                        <img src="images/t1.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3">JAMES Men spa</h3>
                        <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                        <ul class="list-unstyled team-icons mt-4">
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-4 team-gd second text-center my-md-0 my-5">
                    <div class="team-img mb-4">
                        <img src="images/t2.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3">DEEN MUSTACHIO</h3>
                        <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                        <ul class="list-unstyled team-icons mt-4">
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-gd text-center">
                    <div class="team-img mb-4">
                        <img src="images/t3.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3"> CLINT HAIRISTA</h3>
                        <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                        <ul class="list-unstyled team-icons mt-4">
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-icon">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--//team -->
<!-- footer -->
<footer class="footer-content">
        <div class="layer footer">
            <div class="container-fluid">
                <div class="row footer-top-inner-w3ls">
                    <div class="col-lg-4 col-md-6 footer-top ">
                        <h2>
                            <a href="index.html">Fake STADIA</a>
                        </h2>
                        <p class="my-3">아주대학교</p>
                        <p>
                            사이버보안학과
                        </p>
                        <p>
                          클라우드 서비스보안
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">TEAM1</h3>
                            <hr>
                            <ul class="list-info-w3pvt last-w3ls-contact mt-lg-4">
                                <li>
                                  <p> 김의진</p>

                                </li>
                                <li class="my-2">
                                  <p> 우승민 </p>
                                </li>
                                <li class="my-2">
                                  <p> 유영웅 </p>
                                </li>
                                <li class="my-2">
                                  <p> 이민경 </p>
                                </li>
                                <li class="my-2">
                                  <p> 이승환 </p>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Contact Us</h3>
                            <hr>
                            <div class="last-w3ls-contact">
                                <p>
                                    <a href="mailto:example@email.com">smdkrak@ajou.ac.kr</a>
                                </p>
                            </div>
                            <div class="last-w3ls-contact my-2">
                                <p>+ 456 123 7890</p>
                            </div>
                            <div class="last-w3ls-contact">
                                <p>경기도 수원시 팔달구
                                    <br>아주대학교</p>
                            </div>
                        </div>
                    </div>

                </div>

                <p class="copy-right-grids text-li text-center my-sm-4 my-4">© 2019 클라우드 서비스보안. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/"> W3layouts </a>
                </p>
                <div class="move-top text-right"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>
            </div>
            <!-- //footer bottom -->
        </div>
    </footer>
    <!-- //footer -->
</body>
</html>